@import "bootstrap";

.Login-button {
  display: block;
  font-size: 18px;
  height: 60px;
  margin: 20px auto;
  width: 300px;
}

.Login-button:hover {
  opacity: 0.9;
}

.Login-email {
  background-color: darkgray;
}

.Login-fb {
  background-color: rgb(72, 98, 163);
}

.Login-mm {
  background-color: rgb(255, 125, 0);
}

.btn-outline-primary {
  @include button-outline-variant(rgb(255, 125, 0), rgb(255, 255, 255));
}


